<div class="admin-menu">
  <div class="admin-menu--logo">
    <svg-icon class="svg-icon svg-icon-logo" src="assets/img/icons/logo.svg" [svgStyle]="{'height.px': 16}"></svg-icon>
  </div>
  <div class="account-profile">
    <div class="account-profile--avatar">
      <img class="account-profile--avatar__image" src="assets/img/avatar.jpeg"/>
    </div>
    <div class="account-profile--info">
      <div class="account-profile-data">
        <div class="account-profile-name">David Beckham</div>
        <div class="account-profile-role">Administrator</div>
      </div>
      <div class="account-profile-menu">
        <button class="button button_black-green action-menu-icon" [matMenuTriggerFor]="menu">
          <svg-icon class="svg-icon" src="assets/img/icons/more.svg">
          </svg-icon>
        </button>
        <mat-menu #menu="matMenu" [class]="'account-profile-menu-dropdown'">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="account-menu-items">
    <mat-accordion [multi]="true" displayMode="flat">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Manage
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="account-menu-items__item">
          <div>POD forms</div>
          <div class="item-counter">17</div>
        </div>
        <div class="account-menu-items__item">
          <div>Employees</div>
          <div class="item-counter">276</div>
        </div>
        <div class="account-menu-items__item">
          <div>Jobs</div>
          <div class="item-counter">276</div>
        </div>
        <div class="account-menu-items__item">
          <div>Finished</div>
          <div class="item-counter">45</div>
        </div>
        <div class="account-menu-items__item">
          <div>Clients</div>
          <div class="item-counter">45</div>
        </div>
        <div class="account-menu-items__item">
          <div>Pages</div>
          <div class="item-counter">12</div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dashboard
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
