<aside class="authorization-aside">
  <div class="authorization-aside__form">
    <h2 class="authorization-aside__title h2">
      <strong>Welcome!</strong>
    </h2>
    <div class="authorization__text">
      <p>Create a new account or Sign in to lodge a Proof of Debt Form</p>
    </div>
    <div class="authorization-form__bottom-links">
      <button class="button button_medium button_white-filled authorization-form__button-home" routerLink="/home/register">Create new account</button>
    </div>
    <div class="authorization-form__bottom-links">
      <button class="button button_medium button_white-filled authorization-form__button-home" routerLink="/home/signIn">Sign In</button>
    </div>
  </div>
</aside>
