<aside class="authorization-aside">
  <div class="authorization-aside__form">
    <h2 class="authorization-aside__title h2"><strong>Verificate your phone</strong></h2>
    <div class="authorization-form__group">
      <div class="authorization-form__label">The code was sent to {{phone}}. You may to <a class="authorization-form__links" (click)="resendCode()">Resend code</a></div>
    </div>
    <div class="authorization-form__group">
      <label class="authorization-form__label">Verification code</label>
      <input [formControl]="verificationCode" class="authorization-form__input"/>
    </div>
    <div class="authorization-form__button-group">
      <button (click)="goBack()" class="button button_medium button_light-blue authorization-form__button">Back</button>
      <button (click)="verify()" class="button button_medium button_white-filled authorization-form__button">Verify</button>
    </div>
    <svg-icon class="account-creation-progress step-2" src="assets/img/icons/steps.svg"></svg-icon>
  </div>
</aside>
