// /src/scss/helpers/_vars.scss

$font-family: 'Weissenhof Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif; // transmitted to _reset.scss
$font: 'Weissenhof Grotesk'; // variable used in mixin's

// Colors
$black-green: #333e48;
$black-gray: #21282e;
$pale-gray: #ccc;
$light-blue: #9ed1e9;
$deep-blue: #50748a;
$smoky-white: #efefef;
$pigmented-green: #009847;

// Validation form color's
$success: $pigmented-green;
$warning: #fb333e;

$auth-aside-width: 38.52%; // width of aside section
$site-width: 1200px;
$gutter: 12px;

// Breakpoints
$sm: 544px; // Small screen / phone
$md: 768px; // Medium screen / tablet
$lg: 992px; // Large screen / desktop
$xl: 1200px; // Extra large screen desktop
$xxl: 1440px; // Wide desktop
