@import '../../../scss/helpers';

:host /deep/ footer.footer {
  position: relative;
}

.center {
  margin-left: calc(50% - 82px);
}

.authorization {
  display: flex;
  flex-direction: column;

  color: white;
  background-image: url('../../../assets/img/bg-main.png');
  background-size: auto 100vh;

  flex-wrap: wrap;

  @media (min-width: $lg) {
    flex-direction: row;

    min-height: 100vh;

    align-items: stretch;
    flex-wrap: nowrap;
  }

  &__content-wrapper {
    width: 100%;
    padding: 104px 20px 56px;

    @media (min-width: $md) {
      height: 633px;
    }
    @media (min-width: $md) and (max-width: $xl - 1) {
      padding: 188px 70px 110px;
    }
    @media (min-width: $lg) {
      width: calc(100% - #{$auth-aside-width});
      height: auto;
    }
    @media (min-width: $xl) {
      padding: 281px 20px 20px 110px;
    }
  }

  &__content {
    width: 100%;
    max-width: 800px;
  }

  &__title {
    margin-bottom: 40px;

    @media (min-width: $md) {
      margin-bottom: 54px;
    }
  }

  &__text {
    p {
      @include font(20px, 300, 30px);

      @media (min-width: $xl) {
        @include font(24px, 300, 32px);
      }

      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }
}

$authorization-grid-gutter: 12px;

.aside-pseudo-element {
  display: flex;

  &:after {
    display: block;

    width: $auth-aside-width;

    background-color: #333e48;
    @media (min-width: $lg) {
      content: '';
    }
  }
}

.short-guide {
  &__container {
    width: 100%;
    padding-top: 56px;
    padding-bottom: 56px;

    @media (min-width: $lg) {
      width: calc(100% - #{$auth-aside-width});
    }
    @media (min-width: $xl) {
      padding-top: 112px;
      padding-bottom: 91px;
    }
  }

  &__title {
    margin-bottom: 26px;
    @media (min-width: $xl) {
      margin-bottom: 39px;
    }
  }

  &__list {
    display: flex;

    counter-reset: list;

    flex-wrap: wrap;
  }

  &__item {
    @include span(6);

    position: relative;

    margin-bottom: 24px;
    padding: 72px 12px 40px;

    list-style-type: none;

    background-color: #efefef;

    @media (min-width: $md) and (max-width: $xl - 1) {
      padding: 71px 12px 40px;
    }
    @media (min-width: $xl) {
      padding: 71px 24px 65px;
    }

    &:before {
      @include font(13px, 500, 48px);

      position: absolute;
      top: 0;
      left: 0;

      width: 80px;

      content: counter(list);
      counter-increment: list;
      text-align: center;

      background: white;
    }
  }

  &__item-title {
    margin-bottom: 21px;
  }

  &__item-text {
    box-shadow: inset 0 0 0 1px transparent;
  }
}

.footer {
  &__wrapper {
    width: 100%;

    @media (min-width: $lg) {
      width: calc(100% - #{$auth-aside-width});
    }
  }

  &__top {
    padding-top: 47px;
    padding-bottom: 53px;

    background-color: #f6f5f4;
  }

  &__container {
    box-shadow: inset 0 0 0 1px transparent;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__column {
    @include font(16px, 400, 24px);
  }

  &__column_flex-column {
    display: flex;
    flex-direction: column;
  }

  &__column_contacts {
    @media (max-width: $md - 1) {
      margin-top: 40px;
    }
  }

  &__column_copyright {
    @media (max-width: $md - 1) {
      margin-top: 14px;
    }
  }

  &__subtitle {
    margin-bottom: 24px;
  }

  &__tel {
    text-decoration: none;

    color: $black-green;

    &:hover {
      text-decoration: underline;
    }
  }

  &__mail {
    margin-top: 8px;

    color: $deep-blue;

    &:hover {
      text-decoration: none;
    }
  }

  &__worktime {
    margin-top: 8px;
  }

  &__city {
    margin-bottom: 8px;

    color: #777;
  }

  &__select {
    max-width: 307px;
  }

  &__bottom {
    @include font(14px, 400, 20px);

    padding-top: 14px;
    padding-bottom: 14px;
  }

  &__kordamentha {
    text-decoration: none;

    color: $deep-blue;

    @media (max-width: $md - 1) {
      display: block;

      text-align: center;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__copyright {
    text-align: center;

    color: $black-green;

    @media (min-width: $md) {
      text-align: right;
    }
  }
}
