<footer class="footer">
  <div class="footer__bottom">
    <div class="footer__container container">
      <div class="footer__row row row_flex">
        <div class="footer__column">
          <a href="//kordamentha.com" target="_blank" class="footer__kordamentha">kordamentha.com</a>
        </div>
        <div class="footer__column footer__column_copyright">
          <div class="footer__copyright">&copy; Copyright 2018 - KordaMentha</div>
        </div>
      </div>
    </div>
  </div>
</footer>
