<div class="account">
  <!-- <aside class="account-sidebar">
    <div class="account-sidebar__top">
      <a href="/" class="account-sidebar__logo">
        <svg class="svg-icon svg-icon-logo">
          <use xlink:href="#logo"></use>
        </svg>
      </a>
    </div>

    <div class="account-sidebar__section account-sidebar__section_user">
      <div class="account-user">
        <img src="http://via.placeholder.com/56x56"
             alt="Backham David"
             class="account-user__img">
        <div class="account-user__description">
          <div class="account-user__name account-user__name_active">David Beckham</div>
          <div class="account-user__role">Administrator</div>
        </div>
        <div class="account-user__dropdown">
          <svg class="svg-icon svg-icon-dots">
            <use xlink:href="#dots"></use>
          </svg>
          <ul class="account-user-dropdown">
            <li class="account-user-dropdown__item">
              <a href="#" class="account-user-dropdown__link">
                <svg class="svg-icon svg-icon-pen">
                  <use xlink:href="#pen"></use>
                </svg>Manage account</a>
            </li>
            <li class="account-user-dropdown__item">
              <a href="#" class="account-user-dropdown__link">
                <svg class="svg-icon svg-icon-logout">
                  <use xlink:href="#logout"></use>
                </svg>Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="account-sidebar__section account-sidebar__section_menu">
      <h4 class="h4 account-sidebar__title is-expanded">Manage</h4>
      <ul class="account-sidebar-menu">
        <li class="account-sidebar-menu__item">
          <a href="#" class="account-sidebar-menu__link">
            POD forms
            <span class="account-sidebar-menu__counter">17</span>
          </a>
        </li>
        <li class="account-sidebar-menu__item is-active">
          <a href="#" class="account-sidebar-menu__link">
            Accounts
            <span class="account-sidebar-menu__counter">246</span>
          </a>
        </li>
        <li class="account-sidebar-menu__item">
          <a href="#" class="account-sidebar-menu__link">
            Companies
            <span class="account-sidebar-menu__counter">17</span>
          </a>
        </li>
        <li class="account-sidebar-menu__item">
          <a href="#" class="account-sidebar-menu__link">
            Tags
            <span class="account-sidebar-menu__counter">17</span>
          </a>
        </li>
        <li class="account-sidebar-menu__item">
          <a href="#" class="account-sidebar-menu__link">
            Comments
            <span class="account-sidebar-menu__counter">17</span>
          </a>
        </li>
        <li class="account-sidebar-menu__item">
          <a href="#" class="account-sidebar-menu__link">
            Pages
            <span class="account-sidebar-menu__counter">17</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="account-sidebar__section account-sidebar__section_dashboard">
      <h4 class="account-sidebar__title h4">Dashboard</h4>
    </div>

  </aside> -->

  <div class="account-body">
    <header class="account-header">
      <div class="container">
        <ol class="breadcrumb breadcrumb_baccount">
          <li class="breadcrumb__list">
            <a href="#" class="breadcrumb__link">Home</a>
          </li>
          <li class="breadcrumb__list">
            <a href="#" class="breadcrumb__link">Level 2</a>
          </li>
        </ol>

        <h1 class="account-header__title h1">Accounts</h1>
      </div>
    </header>

    <main class="account-main">
      <div class="container">
        <div class="table-content">
          <div>ClickMeI'mAnAccountString</div>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="footer__bottom">
        <div class="footer__container container">
          <div class="footer__row row row_flex">
            <div class="footer__column">
              <a href="//kordamentha.com" target="_blank" class="footer__kordamentha">kordamentha.com</a>
            </div>
            <div class="footer__column footer__column_copyright">
              <div class="footer__copyright">&copy; Copyright 2018 - KordaMentha</div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
