.main {
  padding-bottom: 52px;
  min-height: 94vh;
}

:host /deep/ .admin-app {
  &.has-sidebar {
    width: calc(100% - 38.52%);
    transition: width 0.2s linear;
    .header {
      width: calc(100% - 38.52%);
      transition: width 0.2s linear;
    }
  }
}
