// /src/scss/base/_typography.scss

h1,
.h1 {
  font: 300 normal 34px 'Weissenhof Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 45px;

  @media (min-width: 768px) {
    font: 300 normal 45px 'Weissenhof Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 56px;
  }
}

h2,
.h2 {
  font: 300 normal 24px 'Weissenhof Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 32px;

  @media (min-width: 1200px) {
    font: 300 normal 34px 'Weissenhof Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 45px;
  }
}

h3,
.h3 {
  font: 300 normal 24px 'Weissenhof Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 32px;
}

h4,
.h4 {
  font: 300 normal 18px 'Weissenhof Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 27px;
}

p {
  font: 300 normal 16px 'Weissenhof Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 24px;
}

.uppercase {
  text-transform: uppercase;
}

a {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  &:hover {
    text-decoration: none;
  }
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 500;
}
