<header class="header">
  <div class="container">
    <div class="header__row row_flex">
      <div class="header__column">
        <a href="/" class="logo">
          <svg-icon class="svg-icon svg-icon-logo" src="assets/img/icons/logo.svg"></svg-icon>
        </a>

        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#" class="nav__link">Claims</a>
            </li>
            <li class="nav__item">
              <a href="/contactUs" class="nav__link">Contact us</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="header__column">
        <ul class="header-user">
          <li class="header-user__item">
            <a routerLink="/main/account" class="header-user__link">My account</a>
          </li>
          <li class="header-user__item">
            <a href="#" class="header-user__link">
              <svg-icon class="svg-icon svg-icon-logout" src="assets/img/icons/logout.svg"></svg-icon>
              Sign out
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
