<aside class="authorization-aside">
  <div class="authorization-aside__form">
    <h2 class="authorization-aside__title h2"><strong>Add password</strong></h2>
    <form [formGroup]="passwordForm" class="authorization-form">
      <div class="authorization-form__group">
        <div class="authorization-form__label">
          Use next safety rules to create password minimum complexity should be 8 characters,
          and at least one lowercase, uppercase,
          number and special character.
        </div>
      </div>
      <div class="authorization-form__group">
        <label class="authorization-form__label">Password</label>
        <input type="password" placeholder="Password" formControlName="password" class="authorization-form__input"/>
      </div>
      <div class="authorization-form__group">
        <label class="authorization-form__label">Repeat password</label>
        <input type="password" placeholder="Repeat password" formControlName="confirmPassword" class="authorization-form__input"/>
      </div>
      <div class="authorization-form__button-group">
        <button class="button button_medium button_light-blue authorization-form__button" (click)="cancel()">Cancel</button>
        <button class="button button_medium button_white-filled authorization-form__button" (click)="addAndSignIn()">Add and Sign In</button>
      </div>
      <svg-icon class="account-creation-progress step-3" src="assets/img/icons/steps.svg"></svg-icon>
    </form>
  </div>
</aside>
